<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util
       https://www.springframework.org/schema/util/spring-util.xsd">

    <util:constant id = "in" static-field="java.lang.System.in"/>
    <util:constant id = "out" static-field="java.lang.System.out"/>

    <bean id="QuestionDao" class="ru.otus.spring.dao.QuestionDaoCSV">
        <constructor-arg name="pathCVS" value="questions.csv"/>
    </bean>

    <bean id="QuestionService" class="ru.otus.spring.service.QuestionServiceImpl">
        <constructor-arg name="dao" ref="QuestionDao"/>
    </bean>

    <bean id="IOService" class="ru.otus.spring.service.IOServiceConsole">
        <constructor-arg name="in" ref="in"/>
        <constructor-arg name="out" ref="out"/>
    </bean>

    <bean id="Testing" class="ru.otus.spring.service.TestingImlp">
        <constructor-arg name="service" ref="IOService"/>
        <constructor-arg name="dao" ref="QuestionDao"/>
        <constructor-arg name="questionService" ref="QuestionService"/>
    </bean>
</beans>
